In [23]:
import pandas as pd
column_name=['year', 'genre', 'publisher', 'total_sales']

game_trend_year=pd.read_csv('./Dataset/game_trend_year.csv', names = column_name)
game_trend_year.head(20)

    year     genre                     publisher  total_sales
0   1980   Shooter                         Atari         7.07
1   1980      Misc                    Activision         1.42
2   1980      Misc                         Atari         1.29
3   1980  Fighting                    Activision         0.77
4   1980    Sports                    Activision         0.49
5   1980    Action                    Activision         0.34
6   1981  Platform                    Activision         4.50
7   1981   Shooter                        Imagic         4.45
8   1981    Action                  Parker Bros.         3.35
9   1981   Shooter                    Activision         2.70
10  1981    Action                         Atari         2.69
11  1981   Shooter                         Atari         2.09
12  1981    Puzzle                         Atari         1.65
13  1981    Action            Mattel Interactive         1.51
14  1981  Platform                        Coleco         1.46
15  1981    Action                   Tigervision         1.14
16  1981    Action  20th Century Fox Video Games         1.13
17  1981    Action                        Coleco         0.99
18  1981  Platform                         Atari         0.97
19  1981    Action                    Activision         0.82

In [24]:
column_name=['platform','NA_sales', 'EU_sales', 'JP_sales', 'other_sales', 'total_sales']
sales_platform=pd.read_csv('./Dataset/sales_platform.csv', names = column_name)
sales_platform.head(20)

   platform  NA_sales  EU_sales  JP_sales  other_sales  total_sales
0       PS2    567.93    328.77    127.85       189.17      1213.71
1      X360    590.79    275.91     10.74        84.30       961.83
2       PS3    386.99    338.74     74.06       140.13       939.86
3       Wii    489.62    262.31     66.39        78.84       897.18
4        DS    371.08    191.09    163.17        59.58       784.67
5        PS    329.94    209.12    138.23        40.63       717.16
6       GBA    177.38     72.10     45.74         7.61       303.23
7       PS4     95.87    122.31     12.88        42.94       273.90
8       PSP    102.26     66.80     62.45        41.11       272.44
9        GB    113.64     47.51     84.78         8.16       254.08
10      NES    125.84     21.14     98.63         5.31       250.94
11       XB    174.49     57.51      1.28         8.48       241.89
12      3DS     77.01     57.30     92.12        12.47       238.88
13       PC     89.90    124.22      0.17        22.03       236.39
14      N64    137.48     40.74     33.45         4.28       216.15
15     SNES     61.23     19.04    114.62         3.22       198.12
16       GC    126.45     36.98     20.95         5.13       189.56
17     XOne     82.22     44.89      0.33        11.82       139.18
18     2600     80.64      4.86      0.00         0.84        86.42
19     WiiU     37.80     23.82     12.49         6.41        80.51

In [25]:
column_name=['name','rating','NA_sales', 'EU_sales', 'JP_sales', 'other_sales', 'total_sales']
sales_rating=pd.read_csv('./Dataset/sales_rating.csv', names = column_name)
sales_rating.head(20)

,name,rating,NA_sales,EU_sales,JP_sales,other_sales,total_sales
0,Metal Gear Solid 3: Subsistence,4.6,0.34,0.01,0.15,0.06,0.55
1,Chrono Trigger,4.5,1.94,0.40,5.02,0.20,7.56
2,Silent Hill 2: Restless Dreams,4.5,0.21,0.06,0.00,0.01,0.28
3,Bloodborne,4.5,3.00,2.28,0.78,1.08,7.14
4,Silent Hill 2,4.5,1.86,1.47,0.00,0.48,3.84
5,Mother 3,4.5,0.00,0.00,0.39,0.01,0.40
6,Metal Gear Solid 3: Snake Eater,4.5,4.38,0.00,2.49,5.79,12.69
7,Metal Gear Solid 2: Sons of Liberty,4.4,2.45,2.01,0.87,0.72,6.05
8,Shadow of the Colossus,4.4,2.34,0.09,0.60,0.39,3.42
9,Paper Mario: The Thousand-Year Door,4.4,2.96,0.50,0.92,0.12,4.50
10,Ghost Trick: Phantom Detective,4.4,0.40,0.16,0.24,0.06,0.84
11,Chrono Trigger,4.4,0.97,0.20,2.51,0.10,3.78
12,Castlevania: Symphony of the Night,4.4,0.58,0.40,0.21,0.08,1.27
13,Suikoden II,4.4,0.15,0.10,0.38,0.04,0.68
14,Final Fantasy VI,4.4,0.00,0.00,0.08,0.01,0.08
15,Phoenix Wright: Ace Attorney - Trials and Trib...,4.4,0.66,0.10,0.50,0.08,1.34
16,The Legend of Zelda: Majora's Mask,4.4,1.90,0.67,0.73,0.06,3.36
17,Portal 2,4.4,7.71,4.38,0.09,1.59,13.80
18,Fallout: New Vegas,4.3,14.25,7.77,0.42,2.82,25.23
19,The Legend of Zelda: Ocarina of Time,4.3,18.39,9.48,6.21,1.38,35.43

In [26]:
column_name=['platform','year', 'genre', 'total_sales']
game_trend_platform=pd.read_csv('./Dataset/game_trend_platform.csv', names = column_name)
game_trend_platform.head(20)

   platform  year       genre  total_sales
0      2600  1980     Shooter         7.07
1      2600  1980        Misc         2.71
2      2600  1980    Fighting         0.77
3      2600  1980      Sports         0.49
4      2600  1980      Action         0.34
5      2600  1981      Action        14.84
6      2600  1981     Shooter        10.04
7      2600  1981    Platform         6.93
8      2600  1981      Puzzle         2.24
9      2600  1981      Sports         0.79
10     2600  1981      Racing         0.48
11     2600  1981  Simulation         0.45
12     2600  1982      Puzzle        10.03
13     2600  1982      Action         6.52
14     2600  1982    Platform         5.03
15     2600  1982     Shooter         3.79
16     2600  1982      Racing         1.57
17     2600  1982      Sports         1.05
18     2600  1982        Misc         0.87
19     2600  1983      Action         2.86